<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @missile.title %>
</p>

<p>
  <strong>Message:</strong>
  <%= @missile.message %>
</p>

<%= link_to 'Edit', edit_missile_path(@missile) %> |
<%= link_to 'Back', missiles_path %>
